@import "tailwindcss";

@media print {
  body {
    background: white !important;
    margin: 0;
    padding: 0;
  }
  @page {
    size: A4;
    margin: 0;
  }
  .print\:hidden {
    display: none !important;
  }
}